.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: hsl(var(--bg));
}
.header {
	flex: 0 1 3em;
}
.main {
	flex: 1 1 auto;
	overflow: auto;
}
.main::-webkit-scrollbar {
	appearance: none;
	width: 0.3em;
	margin-left: 10em;
	height: 100vmax;
	background-color: hsl(var(--bg) / 0.8);
}
.main::-webkit-scrollbar-thumb {
	background-color: hsl(var(--txt));
	border-radius: var(--_radius);
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}
